<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Определитель рукописного текста</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<!--    <link rel="stylesheet" href="../static/css/style.css">-->
</head>
<body>
<main>
    <div class="wrapper">
        <h2>{{ text }}</h2>
        <div class="result" style="display: {{ result }}">
            <!--        <img src="{{ input_img }}" class="result-img">-->
            <h3>{{ result_text }}</h3>
        </div>
        <div class="inputs">
            <form method="POST" action="/action">
                <label for="filename" class="label">Веберите файл</label><br>
                <input type="file" name="file" id="filename" accept="image/png" class="input"><br>
                <button type="submit" class="button">Найти текст</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>